{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea placeholder="Help create a Chatterstorm - Enter your comments here!" name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">Add Comment</button>
  </div>
</form>
{{/if}}
<h2>Comments:</h2>
{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}